@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-glow rect {
    stroke: rgba(255, 0, 255, 0.6); /* Reduce opacity for subtler border */
    stroke-width: 2px;
    filter: drop-shadow(0 0 15px rgba(255, 0, 255, 0.4)) drop-shadow(0 0 15px rgba(255, 0, 255, 0.2));
  }
  
  .neon-glow text {
    filter: drop-shadow(0 0 15px rgba(255, 0, 255, 0.6));
  }
  